/* ############ */
/*     Main     */
/* ############ */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--clr-card-bg);
  border-radius: var(--border-rad);
  overflow: hidden;
}

.main-article {
  padding: 1em;
  text-align: center;
}

.main-article h1 {
  font-size: clamp(var(--fs-800), 3vw, var(--fs-900));
  font-weight: 700;
  padding: 0.5em;
}

.main-article span {
  color: var(--clr-accent);
}
.main-article ul {
  display: flex;
  flex-direction: column;
}
.main-article p {
  font-family: var(--ff-sans-second, sans-serif);
  font-size: clamp(var(--fs-300), 2vw, var(--fs-400));
  color: var(--clr-main-p);
  padding: 0.5em;
}

.main-article ul {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: var(--gap, 1rem);
}

.main-article div:nth-child(1) {
  font-size: var(--fs-600);
  font-weight: 700;
}

.main-article div:nth-child(2) {
  color: var(--clr-stat-h);
  font-size: var(--fs-200);
  font-family: var(--ff-sans-second, sans-serif);
  text-transform: uppercase;
}

/* ########### */
/*    FOOTER   */
/* ########### */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ############# */
/* MEDIA QUERIES */
/* ############# */

@media screen and (max-width: 30em) {
  .img {
    background-image: linear-gradient(
        hsla(277, 64%, 61%, 0.5),
        hsla(277, 64%, 61%, 0.5)
      ),
      url("./images/image-header-mobile.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 654/480;
  }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  .img {
    background-image: linear-gradient(
        hsla(277, 64%, 61%, 0.5),
        hsla(277, 64%, 61%, 0.5)
      ),
      url("./images/image-header-mobile.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    max-height: 15em;
    aspect-ratio: 654/480;
  }

  .main-article ul {
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (min-width: 60em) {
  .card {
    display: flex;
    flex-direction: row-reverse;
  }

  .img {
    background-image: linear-gradient(
        hsla(277, 64%, 61%, 0.5),
        hsla(277, 64%, 61%, 0.5)
      ),
      url("./images/image-header-desktop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 540/446;
  }

  .main-article {
    padding: 1em 3em;
    text-align: left;
  }

  .main-article p {
    padding: 1em;
  }

  .main-article ul {
    flex-direction: row;
    justify-content: left;
  }
}
